@page
@model IndexModel
@{
    ViewData["Title"] = "Tulostaulu";
}

<div align="center">
    <h1>Tulostaulu</h1>
    <form id="updateTulosTaulu" action="/api/update">
        <div class="row">
            <div class="col-xs-4">
                <h2><span class="glyphicon glyphicon-triangle-left home" id="turnTriangleLeftHome"></span>Koti<span class="glyphicon glyphicon-triangle-right home" id="turnTriangleRightHome"></span></h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-homeRuns-minus" data-target="homeRuns" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="homeRuns" autocomplete="off" value="@Model.Taulu.HomeRuns" />
                    <button class="btn btn-success btn-homeRuns-plus" data-target="homeRuns" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-4">
                <h2>Palot</h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-inningStrikes-minus" data-target="inningStrikes" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="inningStrikes" autocomplete="off" value="@Model.Taulu.InningStrikes" />
                    <button class="btn btn-success btn-inningStrikes-plus" data-target="inningStrikes" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-4">
                <h2><span class="glyphicon glyphicon-triangle-left away" id="turnTriangleLeftAway"></span>Vieras<span class="glyphicon glyphicon-triangle-right away" id="turnTriangleRightAway"></span></h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-awayRuns-minus" data-target="awayRuns" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="awayRuns" autocomplete="off" value="@Model.Taulu.AwayRuns" />
                    <button class="btn btn-success btn-awayRuns-plus" data-target="awayRuns" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <h2>Jaksovoitto</h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-homeWins-minus editControl" data-target="homeWins" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="homeWins" autocomplete="off" value="@Model.Taulu.HomeWins" />
                    <button class="btn btn-success btn-homeWins-plus editControl" data-target="homeWins" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-4">
                <h2>Jakso</h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-gamePeriod-minus editControl" data-target="gamePeriod" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="gamePeriod" autocomplete="off" value="@Model.Taulu.GamePeriod" />
                    <button class="btn btn-success btn-gamePeriod-plus editControl" data-target="gamePeriod" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-4">
                <h2>Jaksovoitto</h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-awayWins-minus editControl" data-target="awayWins" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="awayWins" autocomplete="off" value="@Model.Taulu.AwayWins" />
                    <button class="btn btn-success btn-awayWins-plus editControl" data-target="awayWins" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <h2>Vuoropari</h2>
                <div class="form-inline">
                    <button hidden class="btn btn-danger btn-periodInning-minus editControl" data-target="periodInning" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="periodInning" autocomplete="off" style="width: 80px !important;" value="@Model.Taulu.PeriodInning" />
                    <input readonly class="form-control" size="1" name="inningTurn" autocomplete="off" style="width: 80px !important;" value="@Model.Taulu.InningTurn" />
                    <button hidden class="btn btn-success btn-periodInning-plus editControl" data-target="periodInning" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-3">
                <h2>Viim. Lyöjä</h2>
                <div class="form-inline home">
                    <button class="btn btn-danger btn-homeLastHitter-minus" data-target="homeLastHitter" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="homeLastHitter" autocomplete="off" value="@Model.Taulu.HomeLastHitter" />
                    <button class="btn btn-success btn-awayLastHitter-plus" data-target="homeLastHitter" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="form-inline away" hidden>
                    <button hidden class="btn btn-danger btn-homeLastHitter-minus editControl" data-target="awayLastHitter" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="awayLastHitter" autocomplete="off" value="@Model.Taulu.AwayLastHitter" />
                    <button hidden class="btn btn-success btn-awayLastHitter-plus editControl" data-target="awayLastHitter" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-3">
                <h2>Jokeri</h2>
                <div class="form-inline">
                    <button class="btn btn-danger btn-inningJoker-minus" data-target="inningJoker" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="inningJoker" autocomplete="off" value="@Model.Taulu.InningJoker" />
                    <button class="btn btn-success btn-inningJoker-plus" data-target="inningJoker" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
            <div class="col-xs-3">
                <h2>Lyöjä</h2>
                <div class="form-inline home">
                    <button class="btn btn-danger btn-homeHitter-minus" data-target="homeHitter" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="homeHitter" autocomplete="off" value="@Model.Taulu.HomeHitter" />
                    <button class="btn btn-success btn-awayHitter-plus" data-target="homeHitter" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
                <div class="form-inline away" hidden>
                    <button class="btn btn-danger btn-homeHitter-minus" data-target="awayHitter" data-method="minus"><span class="glyphicon glyphicon-minus"></span></button>
                    <input readonly class="form-control" size="1" name="awayHitter" autocomplete="off" value="@Model.Taulu.AwayHitter" />
                    <button class="btn btn-success btn-awayHitter-plus" data-target="awayHitter" data-method="plus"><span class="glyphicon glyphicon-plus"></span></button>
                </div>
            </div>
        </div>
        <input hidden name="inningInsideTeam" value="@Model.Taulu.InningInsideTeam" />
    </form>
    <hr />
    <div class="row" text-center>
        <!--
        <div class="col-sm-2 col-sm-offset-1" hidden>
            <div class="form-inline">
                <button class="btn btn-lg btn-primary" id="startGame" data-toggle="modal" data-target="#startModal" title="Arvotaan aloittaja. Koko peli resetoituu.">Aloita Peli</button>
            </div>
        </div>
    -->
        <div class="col-sm-12">
            <div class="form-inline">
                <button class="btn btn-lg btn-warning" id="inningChange" data-toggle="tooltip" title="Seuraava joukkue sisävuoroon. Uusi vuoro" style="width: 100%">Vuoron Vaihto</button>
            </div>
        </div>
        <!--
        <div class="col-sm-2">
            <div class="form-inline" hidden>
                <button class="btn btn-lg btn-warning" id="superPeriod" data-toggle="modal" data-target="#superModal" title="Arvotaan uusi aloittaja.">Supervuoro</button>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-inline" hidden>
                <button class="btn btn-lg btn-danger" id="undoChanges" data-toggle="tooltip" title="Nykyinen tilanne menetetään. Lopullinen peruutus">Peruuta Muutos</button>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-inline" hidden>
                <button class="btn btn-lg btn-danger" id="editControl" data-toggle="tooltip" title="Näytä ylimääräiset plus ja minus napit">Debug On</button>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="form-inline" hidden>
                <button class="btn btn-lg btn-dark" id="shutdownNow" data-toggle="modal" data-target="#shutModal" title="Sammuta tulostaulun ohjain">Sammuta</button>
            </div>
        </div>
        -->
    </div>
</div>

<div id="debug" hidden>
    <div class="col-md-6">
        <h2>status</h2>
        <div id="status"></div>
        <h2>serial</h2>
        <div id="serial"></div>
    </div>
    <div class="col-md-6">
        <h2>score</h2>
        <div id="score"></div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="startModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">Aloita uusi peli</h3>
            </div>
            <div class="modal-body text-center">
                <button class="btn btn-lg btn-home" id="chooseHome" data-team="home">Koti</button>
                <button class="btn btn-lg btn-away" id="chooseAway" data-team="away">Vieras</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="superModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">Valitse aloittava joukkue</h3>
            </div>
            <div class="modal-body text-center">
                <button class="btn btn-lg btn-home" id="chooseHome" data-team="home">Koti</button>
                <button class="btn btn-lg btn-away" id="chooseAway" data-team="away">Vieras</button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h3 class="modal-title">Ohjain on sammutettu</h3>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-lg btn-secondary" data-dismiss="modal">Sulje</button>
            </div>
        </div>
    </div>
</div>
<script src="~/js/TulosTaulu.js"></script>  